{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <style>
      TD.dline {
        line-height: 25px;
      }
      TD.leftcol {
        width: 110px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol {
        width: 41px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol2 {
        width: 44px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol3 {
        width: 302px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol4 {
        width: 301px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol5 {
        width: 49px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol6 {
        width: 40px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      body {
        background-color: #000000;
        .layer1 {
          margin-left: 10%; /* Отступ слева */
        }
        .layer2 {
          margin-top: 200px; /* Отступ сверху */
        }
        .layer3 {
          margin-top: 46px; /* Отступ сверху */
        }
        .layer4 {
          margin-left: 235px; /* Отступ слева */
        }
        .layer5 {
          margin-top: 17px; /* Отступ сверху */
        }
        .layer6 {
          margin-top: 71px; /* Отступ сверху */
        }
     }
     </style>
    <div class="text-container">
        <p style="text-indent:20px; color: FFFFFF; font-size: 24px">Блог</p>
    </div>
    <div>
        <div class="text-container">
            <p style="text-indent:36px; color: FFFFFF; font-size: 32px">О полезных свойствах чая</p>
        </div>
      <table width="100%" cellspacing="0" cellpadding="0" class="layer6">
       <tr>
        <td class="leftcol" style="text-indent:40px; max-hight: 300px;"><img src="https://daochai.ru/images/companies/1/pages/blogs/146%20polza-chaya/5f88731e9ed954455f0eccc2f8809b6b.jpeg?1602190887759" alt=""></td>
        <td class="emptycol"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          ВЛИЯНИЕ ЧАЯ НА ОРГАНИЗМ ЧЕЛОВЕКА<br>
          Польза чая состоит в специфическом влиянии на человеческий организм – вместе со здоровым образом жизни чаепитие вносит ощутимый вклад в укрепление здоровья.
          Адепты китайской медицины уверены, что полезные свойства чая проявляются в значительном улучшении циркуляции внутренней энергии человека «ци»,
          что влияет на сознание человека, проясняя и уравновешивая его, укрепляя здоровье.<br>
          Чем же обусловлена польза чая, существует ли современное научное обоснование полезных свойств напитка? Чтобы ответить на эти вопросы в современной медицине проведён
          ряд исследований. К примеру, чай содержит витамины В1, В2, C, и разумно предположить, что его популярность обусловлена отчасти полезными свойствами.
          Рассуждая о влиянии чая на здоровье, ошибочным было бы останавливаться на витаминном составе растения, так как кроме витаминов чайный лист богат минеральными
          веществами.<br>
          Список содержащихся в чае минералов внушителен. Можно встретить марганец, калий, фтор, фосфор, фенольные соединения, а также некоторые другие вещества,
          оказывающие определённое воздействие на здоровье человека.<br>
          Каким же образом проявляется благотворное влияние минеральных веществ на организм? Обсуждая данный вопрос можно привести множество фактов в пользу чая.
          К примеру, марганец способствует росту костей, телесные жидкости и ритм сердцебиения регулируются калием. Кроме этого чайное растение –
          один из немногих источников соединений фтора,
          благотворно влияющего на здоровье зубов и снижающего вероятность кариеса. Сейчас стоматологи это признают и рекомендуют чай как профилактическое средство.<br><br>
         </td>
        <td class="emptycol5"></td>
       </tr>
      </table>

      <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>
         <td class="emptycol2"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          ПОЛЬЗА ЧАЯ: ИСТОЧНИК АНТИОКСИДАНТОВ <br>
          В современном мире особый акцент в исследовании продуктов питания делается на поиск веществ с антиоксидантными свойствами.
          Связано это с тем, что потребление антиоксидантных веществ играет значительную роль в профилактике ряда опасных заболеваний, главное из которых – рак.
          Как оказалось, ряд современных исследований подтверждают наличие в чайном растении веществ, имеющих свойства антиоксидантов.
          Количество антиоксидантов особенно велико в свежих чаях и сильно зависит от условий хранения.<br>

          Кроме того, чай снижает риск сердечного приступа. Данное утверждение не является голословным. Сотрудниками Гарвардского медицинского колледжа установлено,
          что риск сердечных заболеваний значительно снижен у людей, употребляющих чай (почти на 50%!!!). Из всего вышесказанного можно сделать вывод,
          что чай благотворно воздействует на организм человека.<br>

          Можно ограничиться сказанными аргументами о пользе чая, но позволю себе дополнить картину. Чай способствует пищеварению, а также расщеплению канцерогенных
          веществ в организме. Кроме того, правильно приготовленный напиток служит естественным регулятором температуры тела. Как уже известно,
          в холодную погоду чай согревает, а в жару утоляет жажду – это происходит за счёт незначительного повышения температуры после употребления чая,
          в связи с чем на коже проступает пот и организм охлаждается естественным образом.<br><br>

          «НЕЗНАНИЕ ЧАЯ» – ПРИЧИНА ОТРИЦАТЕЛЬНЫХ ЭФФЕКТОВ ЧАЯ<br>
          Изучение свойств чайного растения не сводится к исследованию лишь полезных качеств. При чрезмерном употреблении чая возможны отрицательные эффекты.
          Так,  неправильно или крепко заваренный чай может вызвать бессонницу, раздражение желудка, изменение цвета зубов, тошноту.
          Однако, согласно положениям китайской медицины,  эти болезненные симптомы сможет устранить,
          как бы это удивительно не звучало, именно чай, однако с очень слабой заваркой – ещё одна отличительная особенность данного напитка.<br><br>
        </td>
        <td class="emptycol"></td>
         <br>
        <td class="leftcol" style="text-indent:40px"><img src="https://daochai.ru/images/companies/1/pages/blogs/146%20polza-chaya/timg.jpg?1602191000892" alt=""></td>
        <td class="emptycol5"></td>
       </tr>
      </table>
    <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>
        <td class="emptycol3"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          ПОДВЕДЁМ ИТОГ<br>
          Чай с самого начала ценился человеком за целебные свойства. Чайный лист с его витаминным и минеральным богатствами служит прекрасным
          профилактическим средством
          от многих болезней.  Все отрицательные эффекты чая связаны с «его незнанием», а о положительном влиянии чая на организм
          придётся переписывать материал с начала. Вот так! Приятного чаепития и будьте здоровы! Здесь специально упущено то,
          как чай воздействует на сознание и восприятие. Об этом мы подробнее напишем в следующий раз.<br><br>
        </td>
        <td class="emptycol4"></td>
       </tr>
      </table>
    </div>
{% endblock %}
