{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <style>
      TD.dline {
        line-height: 25px;
      }
      TD.leftcol {
        width: 110px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol {
        width: 41px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol2 {
        width: 44px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol3 {
        width: 302px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol4 {
        width: 301px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol5 {
        width: 49px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol6 {
        width: 40px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      body {
        background-color: #000000;
        .layer1 {
          margin-left: 10%; /* Отступ слева */
        }
        .layer2 {
          margin-top: 200px; /* Отступ сверху */
        }
        .layer3 {
          margin-top: 46px; /* Отступ сверху */
        }
        .layer4 {
          margin-left: 235px; /* Отступ слева */
        }
        .layer5 {
          margin-top: 17px; /* Отступ сверху */
        }
        .layer6 {
          margin-top: 71px; /* Отступ сверху */
        }
     }
     </style>
    <div class="text-container">
        <p style="text-indent:20px; color: FFFFFF; font-size: 24px">Блог</p>
    </div>
    <div>
        <div class="text-container">
            <p style="text-indent:36px; color: FFFFFF; font-size: 32px">Польза зеленого чая</p>
        </div>
      <table width="100%" cellspacing="0" cellpadding="0" class="layer6">
       <tr>
        <td class="leftcol" style="text-indent:40px"><img src="https://zakaz33.ru/wa-data/public/shop/products/12/02/212/images/664/664.970.jpg" alt=""></td>
        <td class="emptycol"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          <br>1. ЗЕЛЕНЫЙ ЧАЙ КАК ОМОЛАЖИВАЮЩЕЕ СРЕДСТВО<br>
          Катехины зеленого чая активизируют деятельность имеющегося в организме человека фермента СОД (Супероксиддисмутаза).
          Этот фермент способствует распаду свободных радикалов - основной причины старения живых клеток. Подробнее читайте здесь<br><br>

          2. ЗЕЛЕНЫЙ ЧАЙ ПОЧТИ  КАК АНТИБИОТИК<br>
          Учеными было обнаружено, что катехины зеленого чая сдерживают рост и размножение болезнетворных бактерий,
          тем самым давая возможность иммунной системе организма справиться с заразой. Подробнее о механизмах действия зеленого чая на бактерии читайте
          "Круче антибиотика или как зеленый чай справляется с бактериальными инфекциями?"<br><br>

          3. ЗЕЛЕНЫЙ ЧАЙ СНИЖАЕТ УРОВЕНЬ ПЛОХОГО ХОЛЕСТИРИНА<br>
          Катехины зеленого чая значительно снижают риск атеросклероза (серьезной болезни кровеносных сосудов,
          опасной для здоровья и жизни человека) Механизм воздействия - снижения уровня "плохого" холестерина, который откладывается на
          внутренних стенках осудов. Подробнее тут<br><br>

          4. ХУДЕЕМ С ЗЕЛЕНЫМ ЧАЕМ<br>
          “Ежедневное употребление зеленого чая сделает тебя тонким (в понимании не полным)” - это цитата из древнего китайского медицинского трактата Бэнсай Шию.
          Современная же наука сейчас начинает понимать, почему так происходит.<br><br>

          5. ЗДОРОВЫЕ ЗУБЫ И СВЕЖЕЕ ДЫХАНИЕ<br>
          Фтор во всем мире часто добавляется в питьевую воду и зубные пасты как лучший способ борьбы с кариесом. Зеленый чай -
          натуральный источник большого количества фтора. Поэтому чай в купе с его антибактериальным действием является сильнейшим источником укрепления зубов,
          предотвращения кариеса и улучшения дыхания.<br><br>

          6. БОРЬБА С РАКОМ<br>
          Исследователи предполагают, что зеленый чай способен предотвратить развитие некоторых видов онкологии - рака легких, простаты и груди.
          О механизме действия читай здесь<br><br><br><br>
         </td>
        <td class="emptycol5"></td>
       </tr>
      </table>
    </div>
{% endblock %}
