{% extends 'base/base.html' %}

{% block content %}
    <style>
      TD.dline {
        line-height: 25px;
      }
      TD.leftcol {
        width: 110px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol {
        width: 41px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol2 {
        width: 44px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol3 {
        width: 302px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol4 {
        width: 301px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol5 {
        width: 49px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol6 {
        width: 40px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      body {
        background-color: #000000;
        .layer1 {
          margin-left: 10%; /* Отступ слева */
        }
        .layer2 {
          margin-top: 200px; /* Отступ сверху */
        }
        .layer3 {
          margin-top: 46px; /* Отступ сверху */
        }
        .layer4 {
          margin-left: 235px; /* Отступ слева */
        }
        .layer5 {
          margin-top: 17px; /* Отступ сверху */
        }
        .layer6 {
          margin-top: 71px; /* Отступ сверху */
        }
     }
    </style>
    <div class="text-container">
        <p style="text-indent:20px; color: FFFFFF; font-size: 24px">Блог</p>
    </div>
    <div>
        <div class="text-container">
            <p style="text-indent:36px; color: FFFFFF; font-size: 32px">Очень преочень длинное название блога</p>
            <p style="text-indent:40px; color: 828282; font-size: 14px">Мини пояснение о чем блог</p>
        </div>
      <table width="100%" cellspacing="0" cellpadding="0" class="layer6">
       <tr>
        <td class="leftcol" style="text-indent:40px"><img src="https://placehold.co/738x483" alt=""></td>
        <td class="emptycol"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 14px">Текст про то как важен чай и что-то такое. Текст про то как важен чай
          и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то
          как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
          ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
          ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
          ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен
          чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен
          чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен
          чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен
          чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое.
        </td>
        <td class="emptycol5"></td>
       </tr>
      </table>

      <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>
        <td class="emptycol2"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 14px">Текст про то как важен чай и что-то такое. Текст про то как важен чай
          и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то
          как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
        </td>
        <td class="emptycol"></td>
        <td class="leftcol" style="text-indent:40px"><img src="https://placehold.co/775x259" alt=""></td>
        <td class="emptycol5"></td>
       </tr>
      </table>

      <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>
        <td class="emptycol3"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 14px">Текст про то как важен чай и что-то такое. Текст про то как важен чай
          и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
          Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то
          как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как
          важен чай и что-то такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то
          такое. Текст про то как важен чай и что-то такое. Текст про то как важен чай и что-то такое.
        </td>
        <td class="emptycol4"></td>
       </tr>
      </table>
    </div>
{% endblock %}

