{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <style>
      TD.dline {
        line-height: 25px;
      }
      TD.leftcol {
        width: 110px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol {
        width: 41px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol2 {
        width: 44px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol3 {
        width: 302px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol4 {
        width: 301px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol5 {
        width: 49px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      TD.emptycol6 {
        width: 40px; /* Ширина левой колонки с рисунком */
        vertical-align: top; /* Выравнивание по верхнему краю */
      }
      body {
        background-color: #000000;
        .layer1 {
          margin-left: 10%; /* Отступ слева */
        }
        .layer2 {
          margin-top: 200px; /* Отступ сверху */
        }
        .layer3 {
          margin-top: 46px; /* Отступ сверху */
        }
        .layer4 {
          margin-left: 235px; /* Отступ слева */
        }
        .layer5 {
          margin-top: 17px; /* Отступ сверху */
        }
        .layer6 {
          margin-top: 71px; /* Отступ сверху */
        }
     }
     </style>
    <div class="text-container">
        <p style="text-indent:20px; color: FFFFFF; font-size: 24px">Блог</p>
    </div>
    <div>
        <div class="text-container">
            <p style="text-indent:36px; color: FFFFFF; font-size: 32px">Состав чая</p>
        </div>
      <table width="100%" cellspacing="0" cellpadding="0" class="layer6">
       <tr>
        <td class="leftcol" style="text-indent:40px"><img src="https://daochai.ru/images/companies/1/pages/blogs/146%20sostav%20chaya/3c18699df6c3c733447e1ecd23818f5f.jpg?1602192726544" alt=""></td>
        <td class="emptycol"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          <br>ВИТАМИННЫЙ СОСТАВ <br>
          Ценность чая определяется его составом – витаминным и минеральным. Содержащиеся в чае витамины разделяют на водорастворимые и жирорастворимые.
          К первому виду относятся такие вещества как тиамин (В1), рибофлавин (В2), пантотеновая кислота (В3), аскорбиновая кислота (витамин С),
          никотиновая кислота (РР). К жирорастворимым веществам относятся витамины A, K и Е.
          Современные щадящие методы переработки чайного листа направлены на сохранение полезных веществ, тем не менее,
          в полной мере сберечь природное богатство не получается. Часть витаминов утрачивается из-за высоких температур во время сушки и обжарки чая,
          что и оказывает разрушительное воздействие на витамины.
          Содержание полезных веществ уменьшается с постепенным увеличением возраста растения, кроме этого, исследуя такой вопрос как состав чая,
          стоит упомянуть ещё несколько фактов. К примеру, содержание витамина C увеличивается в лиственной части растения,
          в то время как большое количество других витаминов содержится в почках. Специфику расположения веществ в растении можно проследить на представленном рисунке.
         </td>
        <td class="emptycol5"></td>
       </tr>
      </table>

      <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>

         <td class="emptycol2"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          КОФЕИН В ЧАЕ <br>
          Одним из важных составляющих такого напитка как чай, является кофеин. Данное вещество активизирует деятельность нервной системы,
          а также стимулирует метаболические процессы. Как следствие, чрезмерное употребление кофеина способно вызвать проблемы с артериальным давлением.
          Чай уникален тем, что в отличие от кофе, содержит мало кофеина. Для сравнения, на 200 мл чая приходится 40 мг кофеина,
          в то время как на такой же объём кофе приходится от 60 до 120 мг.<br><br>

          СОДЕРЖАНИЕ КОФЕИНА В ЧАЕ ЗАВИСИТ ОТ НЕСКОЛЬКИХ ФАКТОРОВ:<br>
          Возраста чайного растения, а также особенностей почвы, в значительной степени определяющих концентрацию кофеина.
          Сорта чайного листа: чем больше процессов претерпевает чайный лист в процессе изготовления, тем меньше в нём остается кофеина.
          Поэтому зелёный низко-ферментированный чай содержит больше кофеина, нежели чёрный.<br><br>
          Способы заварки чая:<br>
          в настоящее время стало известно, что кофеин в чае теряет свои природные качества при температуре свыше 100 градусов по Цельсию,
          соответственно не следует применять для заварки нежных зелёных чаев крутой кипяток.<br><br>

          МИНЕРАЛЬНЫЙ СОСТАВ ЧАЯ<br>
          Количество минеральных веществ в чае зависит от сорта растения, а также его возраста. Если витаминами богаты молодые деревья и нежные весенние побеги,
          то минералов становится больше по мере огрубления чайного листа и взросления дерева.
          Список содержащихся в чае минералов внушителен. Можно встретить марганец, калий, фтор, фосфор, фенольные соединения, а также некоторые другие вещества,
          оказывающие определённое воздействие на здоровье человека: марганец способствует росту костей, телесные жидкости и ритм сердцебиения регулируются калием,
          фтор благоприятно влияет на здоровье зубов, снижая вероятность кариеса и так далее.
          Чай богат андиоксидантными веществами, чему сейчас уделяется особое внимание при исследовании продуктов питания. Например,
          во время катастрофы в Фукусиме 2011 года,
          японцы, регулярно употреблявшие зелёный чай, с невероятной лёгкостью переносили воздействие радиации.<br><br>
        </td>
        <td class="emptycol"></td>
         <br>
        <td class="leftcol" style="text-indent:40px"><img src="https://daochai.ru/images/companies/1/pages/blogs/146%20sostav%20chaya/list-chay-e1324045219300.jpg?1602192063638" alt=""></td>
        <td class="emptycol5"></td>
       </tr>
      </table>
    <table width="100%" cellspacing="0" cellpadding="0" class="layer3">
       <tr>
        <td class="emptycol3"></td>
        <td class="dline" valign="top" style="color: 828282; font-size: 18px">
          ВЫВОДЫ<br>
          Чай – богатый природный источник витаминов и воплощенная природой таблица Менделеева.
          Не все витамины удаётся сохранить при обработке, причём чем больше этапов – тем меньше витаминов остаётся.
          Самые богатые витаминами – нежные зелёные чаи из молодого листа, которые нельзя заваривать кипятком – пропадает весь смысл.
          Кофеина больше в зелёном чае, чем в чёрном, по той же причине, но качественно он отличается от кофейного.
          Состав чая зависит от многих факторов, будь то возраст растения или время сбора. И не забывайте про правильное хранение чая – количество витаминов и
          минералов в чайном листе больше при соблюдении этих условий. <br><br>
        </td>
        <td class="emptycol4"></td>
       </tr>
      </table>
    </div>
{% endblock %}
