{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}<link href="{% static '/css/card_product.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

     <section>
         <img src="{% static '/img/dushica.png' %}" style="height:500px;width:500px;margin-top:1800px;margin-left:0px;">
         <p></p>
         <button class="buy">Добавить в корзину</button>
       <nav>
         <ul>
           <li><button>100г</button></li>
           <li><button>200г</button></li>
           <li><button>250г</button></li>
           <li><button>300г</button></li>
           <li><button>500г</button></li>
           <li><button>750г</button></li>
           <li><button>1000г</button></li>
         </ul>
       </nav>
     </section>
     <section class="blog">
         <article>
           <nav class="2">
             <ul>
               <li><h2 class="char">Характеристики</h2></li>
               <li><h2 class="del">Варианты доставки</h2></li>
             </ul>
           </nav>
           <nav class="1">
             <ul>
               <li><p class="charact">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat sapien non nibh venenatis, at laoreet enim volutpat. Pellentesque lectus orci, ultrices euismod est in, posuere dictum sem. Etiam nulla neque, finibus eu efficitur eu, fermentum quis elit. Morbi in sem id nibh consectetur aliquam. Vestibulum semper massa in laoreet auctor. Fusce a egestas felis. Nam facilisis ullamcorper sem eu pellentesque. Sed a eros quis nibh gravida interdum. Curabitur urna dolor, tempus id nisi interdum, rutrum consectetur ipsum. Duis placerat augue condimentum nulla rutrum, sed sollicitudin leo ornare.</p></li>
               <li><p class="deliv">Курьером по вашему адресу</p><p class="deliv">Забрать в одном из магазинов</p><p class="deliv">Заказать доставку в один из магазинов</p><p class="deliv">Забрать из пункта самовывоза</p></li>
             </ul>
           </nav>
         </article>
       <article>
        <h2 class="additions">С этим товаром смотрят</h2>
          <div class="wrap">
              <button class="add"></button>
              <button class="add"></button>
              <button class="add"></button>
              <button class="add"></button>
          </div>
          <div class="names">
              <p class="pr">Название продукта</p>
              <p class="pr">Название продукта</p>
              <p class="pr">Название продукта</p>
              <p class="pr">Название продукта</p>
          </div>
       </article>
      <article>
       <h2 class="additions1">С этим товаром рекомендуем</h2>
        <div class="wrap1">
           <button class="add1"></button>
           <button class="add1"></button>
           <button class="add1"></button>
           <button class="add1"></button>
        </div>
        <div class="names1">
              <p class="pr1">Название продукта</p>
              <p class="pr1">Название продукта</p>
              <p class="pr1">Название продукта</p>
              <p class="pr1">Название продукта</p>
        </div>
      </article>
      <div>
        <h2>Оставьте отзыв</h2>
        <div class="comm">
          <input class="comment" type="text"  name="name" required minlength="1" maxlength="10000" size="10000" />
          <button class="publ">Опубликовать</button>
        </div>
      </div>
      <div>
        <h3>Пользователь</h3>
        <p>Комментарий</p>
        <h3>Пользователь</h3>
        <p>Комментарий</p>
        <h3>Пользователь</h3>
        <p>Комментарий</p>
      </div>
     </section>

{% endblock %}
