{% extends 'base/base.html' %}

{% block content %}
    <div class="text-container">
        <p style="text-indent:20px">Доставка</p>
    </div>
    <div>
        <div class="text-container">
            <p style="text-indent:300px">Заказано</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34391 ₽</p>
                      <a href="#" class="btn btn-primary">Отслеживание</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34391 ₽</p>
                      <a href="#" class="btn btn-primary">Отслеживание</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34391 ₽</p>
                      <a href="#" class="btn btn-primary">Отслеживание</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34391 ₽</p>
                      <a href="#" class="btn btn-primary">Отслеживание</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="text-container">
            <p style="text-indent:300px">Вы смотрели</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34393 ₽</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34393 ₽</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34393 ₽</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="https://placehold.co/270x270" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Название продукта</h5>
                      <p class="card-text">Небольшое описание</p>
                      <p class="card-text">34393 ₽</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
