{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}<link href="{% static '/css/blogs.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
  <body>
    <h3>Помощь</h3>
    <h4>Доставка</h4>
    <p>Все заказы мы отправляем в течение 2-5 рабочих дней с момента оплаты. После отправки посылки пришлем трек-номер и ссылку для отслеживания.</p>
    <h5>Способы доставки:</h5>
    <ol>
      <li>Почта России - на пункт выдачи, почтоматы: <br> Стоимость доставки от 500 рублей. Расчитывается в зависимости от вашего товара.</li>
      <li>Доставка СДЭК - почтоматы: <br> Стоимость доставки рассчитывается индивидуально.</li>
      <li>Самовывоз в официальных магазинах: <br> В трек номере вы можете посмотреть, когда забирать товар, до какого числа он хранится.</li>
    </ol>
    <h4>Оплата и возврат товара</h4>
    <p>Оплата банковской картой: <br> На сайте при оформлении заказа.</p>
    <p>Оплата наличными: <br> Возможно только при самовывозе.</p>
    <h5>Возврат товара:</h5>
    <ol>
      <li>Условия возврата: <br> Товар принимается к возврату только в полной комплектации.</li>
      <li>Причины возврата: <br> Товар пришел в непригодном для использования виде. <br> Пришел не тот товар.</li>
      <li>Срок возврата: <br> Срок возврата товара надлежащего качества составляет 7 дней с момента получения товара. <br> Это относится к товарам, которые не употребляются в пищу. <br> Срок возврата товара, который употребляется в пищу составляет 3 дня.</li>
      <li>Как вернуть товар: <br> В официальных магазинах покупатель может самостоятельно вернуть товар.</li>
    </ol>
    <h4>Возврат денежных средств</h4>
    <p>Безналичный расчет: <br> При отказе покупателя от товара, который был оплачен банковской картой,<br> денежные средства за
него будут автоматически возвращены на банковскую карту, с которой указанный товар был оплачен.</p>
  </body>
{% endblock %}
