{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}<link href="{% static '/css/catalog.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
  <body>
    {% for product in products %}
      <div class="one_card">
        <span>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                {% if product.photo %}
                  <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                {% endif %}
              </a>
<!--           ----------------------СТРОЧКА НИЖЕ --СЕРДЦЕ  -->
              <div id="heart"></div>
              <div class="card__label">-20%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">{{product.price}}</div>
                <div class="card__price card__price--common">{{product.upprice}}</div>
              </div>
              <a href="#" class="card__title">{{product.name}}</a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
        </span>
      </div>
    {% endfor %}
  </body>
{% endblock %}
