{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}<link href="{% static '/css/catalog.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
  <body>
    <div class="tur-tur"><h2>Чай-основа</h2></div>
    {% for product in products %}
      {% if product.type == "Чай-основа" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <div class="tur-tur"><h2>Добавки</h2></div>
    {% for product in products %}
      {% if product.type == "Добавка" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <div class="tur-tur"><h2>Посуда</h2></div>
    {% for product in products %}
      {% if product.type == "Посуда" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <div class="tur-tur"><h2>Готовые наборы</h2></div>
    {% for product in products %}
      {% if product.type == "Готовый набор" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}
  </body>
{% endblock %}
