{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}<link href="{% static '/css/catalog.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
  <body>
    <h2>Чай-основа</h2>
    {% for product in products %}
      {% if product.type == "Чай-основа" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <h2>Добавка</h2>
    {% for product in products %}
      {% if product.type == "Добавка" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <h2>Посуда</h2>
    {% for product in products %}
      {% if product.type == "Посуда" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}

    <h2>Готовый набор</h2>
    {% for product in products %}
      {% if product.type == "Готовый набор" %}
        {% include 'base/card.html' %}
      {% endif %}
    {% endfor %}
  </body>
{% endblock %}
