{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Регистрация и вход</h1>

        {% for message in messages %}
        <div class="alert-custom   ">
            <strong >{{ message }}</strong>
        </div>
        {% endfor %}

        <form action="" method="post" id="registration-form">
            {% csrf_token %}
            {% for item in form %}
                <label>{{ item.label }}:</label><br>
                {{ item }}
            {% endfor %}
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}

