.card-text_blog {
    color: #fff !important;
    text-decoration: none;
}

.card-body{
  color: #fff;
}

a:hover{
    color: #365e40 !important;
    text-decoration: none;
    transition: .3s;
}

.btn {
   margin-top: 100%;
}
